In [1]:
%load_ext pretty_jupyter

In [2]:
%%jinja markdown

# Introduction

The purpose of this notebook is only to test functionality of the Pretty Jupyter.

# Chapter 1: Tabs
[//]: <> (-.- tabset tabset-pills)

First we will test tabsets together with maths. We can clearly see that no math symbol is leaking.

## Tab 1

First tab.

## Tab 2

Second tab. This tab contains some math symbols, such as inline math: $a = 5$.

Another symbol:

$$a \cdot a^2 = \frac{a^5}{a^2} = a^3 = 125$$

## Tab 3

Tab 3.

# Introduction

The purpose of this notebook is only to test functionality of the Pretty Jupyter.

# Chapter 1: Tabs
<span class='pretty-jupyter-token tabset tabset-pills' style='display: none;'></span>

First we will test tabsets together with maths. We can clearly see that no math symbol is leaking.

## Tab 1

First tab.

## Tab 2

Second tab. This tab contains some math symbols, such as inline math: $a = 5$.

Another symbol:

$$a \cdot a^2 = \frac{a^5}{a^2} = a^3 = 125$$

## Tab 3

Tab 3.

In [3]:
%%jinja markdown

# Chapter 2: Jinja Markdown

Jinja Markdown is a great way how to combine variables together with Markdown.

# Chapter 2: Jinja Markdown

Jinja Markdown is a great way how to combine variables together with Markdown.

In [4]:
import pandas as pd

data = pd.DataFrame({
    "A": [1, 2, 3, 4],
    "B": ["One", "Two", "Three", "Four"]
})

In [5]:
%%jinja markdown

Using Jinja Markdown, we can show the table as part of our markdown text:

<details>

{{ data.to_html() }}

</details>

Using Jinja Markdown, we can show the table as part of our markdown text:

<details>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>One</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>Two</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>Three</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>Four</td>
    </tr>
  </tbody>
</table>

</details>

In [6]:
a = 10

In [7]:
%%jinja markdown

We can also combine variables and math symbols thanks to Jinja Markdown and create more complex expressions, such as the following:


<details>

$$

\begin{align}

a &= {{a}} \\
\frac{a^{10}}{a^8} &= \frac{ {{a}}^{10} }{ {{a}}^8 } \\
\frac{ {{a}}^{10} }{ {{a}}^8 } &= {{a}}^{2} \\
{{a}}^{2} &= {{ a ** 2 }} \\

\end{align}
$$

</details>

We can also combine variables and math symbols thanks to Jinja Markdown and create more complex expressions, such as the following:


<details>

$$

\begin{align}

a &= 10 \\
\frac{a^{10}}{a^8} &= \frac{ 10^{10} }{ 10^8 } \\
\frac{ 10^{10} }{ 10^8 } &= 10^{2} \\
10^{2} &= 100 \\

\end{align}
$$

</details>

In [8]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()

import base64
from io import BytesIO

IMG_FORMAT = r"<img src='data:image/png;base64,{encoded}'>'"

tmpfile = BytesIO()

fig, ax = plt.subplots()
sns.countplot(x=data["A"], ax=ax).set(title="Example Figure")
fig.savefig(tmpfile, format="png")
plt.close()

encoded = IMG_FORMAT.format(encoded=base64.b64encode(tmpfile.getvalue()).decode('utf-8'))

In [9]:
%%jinja markdown

We can even include matplotlib figures in-between our markdown, although this is a bit hardcore.

**Watch this:**

{{ encoded }}

We can even include matplotlib figures in-between our markdown, although this is a bit hardcore.

**Watch this:**

<img src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAbAAAAEgCAYAAADVKCZpAAAAOXRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjUuMiwgaHR0cHM6Ly9tYXRwbG90bGliLm9yZy8qNh9FAAAACXBIWXMAAAsTAAALEwEAmpwYAAAUPklEQVR4nO3dfZRdVXnH8e9MXhRJYJEwYoJUqsijqRqQCL5AhRK1C1SwgLSAGmyIqIVWi0gLBVGxipQIylKWyJs0VEt9qTWgQuIrIkQJqRafpRasDWE1BGhJBAnM9I97R29uJpOZzMk9d998P2uxuPucc/d5Zgfym73Puef2DQ0NIUlSafrrLkCSpG1hgEmSimSASZKKZIBJkopkgEmSimSASZKKZIBJkopkgEmSimSASZKKZIBJkopkgEmSimSASZKKZIBJkopkgEmSimSASZKKZIBJkopkgEmSimSASZKKZIBJkopkgEmSijS57gKkKkXEEPBj4Mm2XUdn5r2dr+i3NQ1k5gPjfE/7z7EiMxdGxErg0Mx8uNJCpcIYYOpFh40nLLrYiD9HZu5XQy1S1zHAtMOIiLcA5wEvAoaAFcDfA9cBi4GXAtOBPmBhZn4vIq4GHgVeAjwD+DywFnhds70wM5c1jxsCng8MAF8HTs/MjW01/DnwDhrL9+uAv8jMn47z5xhqnuMh4KPA64H/BX4AzMnMQyPim8AnMvOG5nt+246I3wBfBuYCJwIbgEuAmcAk4NLMvHI8NUl18BqYetHyiFjZ8s8XATLzGuD7wIXApcB3MvNa4CBgNvCyzJwDXAOc1dLf/sDLgHnAu4D1mflyGn/ptx43F5gPzGn+87bWoiLilcBbgEMyc/9mHV8Yx8/x9Lb9C4EDgBc063vOGMYGYCrwlcwMYCVwA3BWZh4AvBI4IyJeOsa+pNo4A1MvGm0J8VTgLhqzqgMAMvP7EXEO8LaIeA5wKPBIy3u+0pxJ3R8RG4Cbmtt/AcxoOe7qzFwPEBHXAkcDn2jZfySwD3BrRAxvmxERMzLzwXH+HABHANdm5mPNc14OnD7K8a2+0/z3vjSC78qWmnaiEdq3jbEvqRYGmHY0ewBPBZ5CY9b1nxFxJI3Z1D/QWFr7KXBSy3t+09bHRkb2RMvrfja/kWQS8NnMfC9ARPQ3a3ho/D/Gb8/X19JuPd9Q276pbe9d31LTw63X1SJiDxpLklJXcwlRO4yImAJcD5wLnA9c39z2KhqzrE8Cd9CYOU3ahlMcHxFPiYin0lgq/Erb/q8DfxYRs5rtU4FbtuE8w74KnNQ852RgAY3ggsZ1unkAzVnli7bQRwKPRcRJzWP3onH34wETqEvqCGdg6kXLI6J99vO3wGHA/Zl5BUBEHA1cAHwKWBIRq2jMYr4NHNOcIY3Hr2ksze1G47rSVa07M/NrEfER4BsRMQj8H/AnmTm0WU9jczUQwJ00ZlT3NGsA+CBwTXN2+VMaP9NmMvPxiDgKuCQizgSmAH+Xmd/bxpqkjukbGtrW/3ckDWvehfjjzLyog+d8NfD0zLyu2b4EeGx4iVLqdc7ApHL9BHhPRLyHxv/LdwFvr7ckqXOcgUmSiuRNHJKkIhlgkqQi9eo1sKfQePTPGjb/LI4kaWSTgFk0Pk7S/vnHrtOrAfYSfvekAUnS+BwCfLfuIramVwNsDcBDD21gcNCbVCRpLPr7+9htt52h+Xdot+vVAHsSYHBwyACTpPEr4tKLN3FIkopkgEmSimSASZKKVOs1sIjYBbgVeG1m3tu2bz/g08CuNB5EempmPtHehyRpx1TbDCwiDqJxm+a+WzjkOuC0zNyXxvcandKp2iRJ3a/OJcRTgHcC97XviIhnATtl5vA3wl4NHNe50iRJ3a62JcTMXAjQ8jXmrWaz6ecQ1gDP7EBZkqRCdOvnwPpG2DY43k5mzpy2xX2Pb3ySqVO25Ut3e08VYzH4xEb6J0+pqKKyVTEWjz+xkamOJzDxsXjy8Y1MmupYQu+NRbcG2GrgGS3tWYyw1Lg169at3+IHmQcGpnPCmf+4bdX1mCUXnsjatY9MqI+Bgen88MKFFVVUtgPOvKKS8Vxw1V9WVFHZrj75kgmN58DAdJa++eQKKyrXEddeNepY9vf3jfqLf7fpytvoM/OXwGMR8YrmpjcDN9ZYkiSpy3RVgEXE0oiY12yeCCyOiLuBnYFL66tMktRtal9CzMy9W14f0fL6LuDAOmqSJHW/rpqBSZI0VgaYJKlIBpgkqUgGmCSpSAaYJKlIBpgkqUgGmCSpSAaYJKlIBpgkqUgGmCSpSAaYJKlIBpgkqUgGmCSpSAaYJKlIBpgkqUgGmCSpSAaYJKlIBpgkqUgGmCSpSAaYJKlIBpgkqUgGmCSpSAaYJKlIBpgkqUgGmCSpSAaYJKlIBpgkqUgGmCSpSAaYJKlIBpgkqUgGmCSpSAaYJKlIk+s8eUScAJwDTAUWZ+ZlbftfDFze3P8r4KTMfLjTdUqSuk9tM7CI2BO4ADgYmAssiog5bYddApybmXOBBM7obJWSpG5V5xLifGBZZj6YmRuAG4Bj246ZBOzSfP004NEO1idJ6mJ1LiHOBta0tNcAB7Yd827gGxHxMWADcFBnSpMkdbs6A6xvhG2Dwy8iYifgM8DhmXl7RLwbuBY4cqwnmDlz2oSL3FEMDEyvu4Se4nhWy/GsTi+NZZ0Btho4pKU9C7ivpf0C4NHMvL3Zvhz4wHhOsG7degYHh0bc10t/iFVYu/aRCb3f8dyU41mtiYynY7mp0cayv7+vqF/867wGdjNweEQMRMTTgGOAm1r2/xzYKyKi2T4KuKPDNUqSulRtAZaZq4GzgeXASmBJc6lwaUTMy8yHgAXA5yNiFfBW4OS66pUkdZdaPweWmUuAJW3bjmh5fSNwY6frkiR1P5/EIUkqkgEmSSqSASZJKpIBJkkqkgEmSSqSASZJKpIBJkkqkgEmSSqSASZJKpIBJkkqkgEmSSqSASZJKpIBJkkqkgEmSSqSASZJKpIBJkkqkgEmSSqSASZJKpIBJkkqkgEmSSqSASZJKpIBJkkqkgEmSSqSASZJKpIBJkkqkgEmSSqSASZJKpIBJkkqkgEmSSqSASZJKpIBJkkqkgEmSSqSASZJKtLkOk8eEScA5wBTgcWZeVnb/gAuB3YD7gf+NDMf6nihkqSuU9sMLCL2BC4ADgbmAosiYk7L/j7gX4EPZ+Zc4E7grDpqlSR1nzqXEOcDyzLzwczcANwAHNuy/8XAhsy8qdn+EHAZkiRR7xLibGBNS3sNcGBLex/g/oi4Btgf+HfgtM6VJ0nqZnUGWN8I2wZbXk8GDgX+MDNXRMQHgIuBBWM9wcyZ0yZS3w5lYGB63SX0FMezWo5ndXppLOsMsNXAIS3tWcB9Le37gZ9l5opm+3oay4xjtm7degYHh0bc10t/iFVYu/aRCb3f8dyU41mtiYynY7mp0cayv7+vqF/8K7kG1rwho33bnJGObXEzcHhEDETE04BjgJta9t8KDETE3Gb7dcAPq6hXklS+Cc3AImJG8+XSiDiU3y0LTgG+DDx3S+/NzNURcTawnMZt9Fdk5u0RsRQ4t7ls+Abg0xGxM/DfwJsmUq8kqXdMdAnxeuBVzdfrWrY/AXxxa2/OzCXAkrZtR7S8/gGb3tghSRIwwQDLzNcARMSVmfnWakqSJGnrKrmJIzPfGhHPAmbQcndhZv6oiv4lSWpXSYBFxIeB04H/AYZv+xsCnl1F/5IktavqNvrjgX0y876tHilJUgWqepTUrwwvSVInVTUDuyUiLqRx6/yjwxu9BiZJ2l6qCrAFzX8f17LNa2CSpO2mqrsQf7+KfiRJGquq7kJ890jbM/PiKvqXJKldVUuIL2x5PZXGQ3qXV9S3JEmbqWoJ8eTWdkTsDny2ir4lSRrJdvlG5sx8ANh7e/QtSRJsn2tgfcA8Gk/lkCRpu9ge18CGgP8C3lNR35IkbabSa2DNB/pOycyfV9GvJElbUtUS4j40nsIxG+iPiAeA12bm3VX0L0lSu6pu4vgEcGFm7paZuwIfBC6rqG9JkjZTVYDtkZnXDDcy8ypgoKK+JUnaTFUBNjkiZgw3mp8DGxrleEmSJqSquxA/DtwWEZ9rto8HFlfUtyRJm6lqBraUxoxrKvA8YE/gixX1LUnSZqoKsKuByzLzvcCbgLOBKyvqW5KkzVQVYLtn5qUAmflYZn4MmFVR35IkbabKmzhmDzciYg8aj5SSJGm7qOomjouBlRFxE41rYfPxUVKSpO2okhlYZl5JI7TuBFYAr8nMJVX0LUnSSKqagZGZq4BVVfUnSdJotsv3gUmStL0ZYJKkIhlgkqQiGWCSpCIZYJKkItUaYBFxQkT8R0T8PCLeOcpxR0bEPZ2sTZLU3WoLsIjYE7gAOBiYCyyKiDkjHLcHcBE+2UOS1KLOGdh8YFlmPpiZG4AbgGNHOO4K4PyOViZJ6np1BthsYE1Lew3wzNYDIuJ04EfAbR2sS5JUgMqexLENRloSHBx+EREvAI4BDqct2MZq5sxp21bZDmhgYHrdJfQUx7Najmd1emks6wyw1cAhLe1ZwH0t7eOa21bQ+KLM2RHxncxsfc+o1q1bz+Dg0Ij7eukPsQpr1z4yofc7nptyPKs1kfF0LDc12lj29/cV9Yt/nQF2M/C+iBgANtCYbS0a3pmZ5wHnAUTE3sA3xxNekqTeVts1sMxcTeObm5cDK4ElmXl7RCyNiHl11SVJKkOdMzCaX7mypG3bESMcdy+wd2eqkiSVwCdxSJKKZIBJkopkgEmSimSASZKKZIBJkopkgEmSimSASZKKZIBJkopkgEmSimSASZKKZIBJkopkgEmSimSASZKKZIBJkopkgEmSimSASZKKZIBJkopkgEmSimSASZKKZIBJkopkgEmSimSASZKKZIBJkopkgEmSimSASZKKZIBJkopkgEmSimSASZKKZIBJkopkgEmSimSASZKKZIBJkopkgEmSijS5zpNHxAnAOcBUYHFmXta2/yjgfKAPuAc4OTMf6nihkqSuU9sMLCL2BC4ADgbmAosiYk7L/l2ATwJHZuZcYBXwvhpKlSR1oTqXEOcDyzLzwczcANwAHNuyfwrwjsxc3WyvAn6vwzVKkrpUnUuIs4E1Le01wIHDjcxcB3wJICJ2As4CPt7B+iRJXazOAOsbYdtg+4aI2JVGkN2VmdeM5wQzZ07btsp2QAMD0+suoac4ntVyPKvTS2NZZ4CtBg5pac8C7ms9ICJmAV8DlgHvGu8J1q1bz+Dg0Ij7eukPsQpr1z4yofc7nptyPKs1kfF0LDc12lj29/cV9Yt/nQF2M/C+iBgANgDHAIuGd0bEJODfgM9n5gfrKVGS1K1qC7DMXB0RZwPLadxGf0Vm3h4RS4Fzgb2A/YFJETF8c8eKzFxYT8WSpG5S6+fAMnMJsKRt2xHNlyvwg9aSpC0wICRJRTLAJElFMsAkSUUywCRJRTLAJElFMsAkSUUywCRJRTLAJElFMsAkSUUywCRJRTLAJElFMsAkSUUywCRJRTLAJElFMsAkSUUywCRJRTLAJElFMsAkSUUywCRJRTLAJElFMsAkSUUywCRJRTLAJElFMsAkSUUywCRJRTLAJElFMsAkSUUywCRJRTLAJElFMsAkSUUywCRJRTLAJElFmlznySPiBOAcYCqwODMva9u/H/BpYFfg28CpmflEp+uUJHWf2mZgEbEncAFwMDAXWBQRc9oOuw44LTP3BfqAUzpbpSSpW9W5hDgfWJaZD2bmBuAG4NjhnRHxLGCnzLytuelq4LiOVylJ6kp1LiHOBta0tNcAB25l/zPH2PckgP7+vlEP2n23ncfYXe/b2liNxdRdZlZQSW+oYjx3nzajgkp6w0THc6fd/W9z2Ghj2bJvUkeKmaA6A2ykURwcx/7RzALYbSsBdenfHD3G7nrfzJnTJtzHC0/9SAWV9IYqxvOi486roJLeMNHxPOziiyqqpHxjHMtZwC+2cykTVmeArQYOaWnPAu5r2/+MUfaP5o5m32uAJydQoyTtSCbR+Lv2jroLGYs6A+xm4H0RMQBsAI4BFg3vzMxfRsRjEfGKzPwe8GbgxjH2/Rvgu1UXLEk7gK6feQ2r7SaOzFwNnA0sB1YCSzLz9ohYGhHzmoedCCyOiLuBnYFLaylWktR1+oaGhuquQZKkcfNJHJKkIhlgkqQiGWCSpCIZYJKkIhlgkqQi1fo0+h1dROwC3Aq8NjPvrbmcokXEecAbm82vZuaZddZTuoh4P41nkw4Bn8nMi2suqXgR8VFgIDMX1F1Lr3AGVpOIOIjGh633rbuW0kXEfODVwP7AfsABEfGGWosqWES8Evgj4EXAPOC0iIh6qypbRBwOLKi7jl5jgNXnFOCdjP3xWNqyNcBfZ+bjmbkRuBv4vZprKlZmfgs4rPnde0+nsVKzod6qyhURM2h8ddSH6q6l17iEWJPMXAjgL7YTl5k/GX4dEc8FjgdeXl9F5cvMjRFxPnAG8M80nk2qbXM5jacO7VV3Ib3GGZh6RkT8AfAN4IzM/Fnd9ZQuM88DBmj8xeuXyW6DiFgI/Cozb6m7ll5kgKknRMQrgFuAszLzmrrrKVlEPC8i9gPIzF8DX6BxPUzjdzzw6ohYCbwfeH1ELK63pN7hEqKKFxF7AV8Cjs/MZTWX0wueDZwfEQfTuAvxKODKeksqU2a+avh1RCwADs3Md9VXUW8xwNQLzgCeClzcck3xU5n5qfpKKldmLm3eJXsnje/T+5fM/Keay5I249PoJUlF8hqYJKlIBpgkqUgGmCSpSAaYJKlIBpgkqUjeRi91UERMAX4JrMrMP667HqlkzsCkznoDsIrGE/OfX3cxUskMMKmz3kHjqSGfA/6q1kqkwvlBZqlDImIO8CNgNvAc4FvAXpm5rtbCpEI5A5M65+00vi36wcy8A7gHeFvNNUnFcgYmdUBE7Ezjy0sfAx5tbt6l+Xrv5hdxShoHZ2BSZ5wIPADMzsy9M3NvGk99nwa8sc7CpFIZYFJnvB24ODOfHN6QmQ8Dl+LNHNI2cQlRklQkZ2CSpCIZYJKkIhlgkqQi/T8kG8z/RPOUlQAAAABJRU5ErkJggg=='>'

In [13]:
%%jmd

Jinja Markdown also has a handy alias. Instead of writing `%%jinja` markdown we can just write `%%jmd`.

Jinja Markdown also has a handy alias. Instead of writing `%%jinja` markdown we can just write `%%jmd`.